[2015-07-13 17:39] alvinsee opened #1 "Library isn't compilable."
Error:(124, 25) error: cannot find symbol method getIntentBuilder()

[2015-07-15 19:00] alvinsee opened #2 "NPE"
For some reason, findView is returning null to detectingLayout.

detectingLayout = Ui.findView(activity, R.id.keyboard_change_detector_layout);

[2015-07-15 20:18] alvinsee commented on #2
issue was caused by a conflicting layout file.

[2015-07-15 20:18] #2 closed

[2015-07-15 20:19] alvinsee commented on #1
0.1.3 compiles.

[2015-07-15 20:19] #1 closed

[2015-07-15 20:36] alvinsee opened #3 "generateClaimCode"
E/Async﹕ Error calling API: Unknown error communicating with server.
    io.particle.android.sdk.cloud.SparkCloudException
GetReadyActivity﹕ Generating claim code failed

happens onReadyButtonClicked()

[2015-07-17 03:52] jensck commented on #3
Can you set the string resource `http_log_level` to `FULL` and try to replicate this?  That will give us complete HTTP logging, which will give us a much better idea about what's happening here.

Also, once you've captured the logs, you'll want to put them on Google Drive/Dropbox/etc and share the link with me privately (jens dot knutson at google's email service dot com) or if you want to just po

[2015-07-17 07:41] alvinsee commented on #3
I've done the above, but the logs arent printing.

.setLogLevel(LogLevel.valueOf(ctx.getString(R.string.http_log_level)))
                .setLog(new RestAdapter.Log() {
                    @Override
                    public void log(String msg) {
                        Log.d("Retrofit", msg);
                    }
                });

above is the change I made to RestAdapter.Builder buildComm

[2015-07-17 16:43] jensck commented on #3
That's interesting...  I'll have to double-check re: the log setting with resources.

Anyway, I'd try this:
* remove the `.setLog()` call
* instead of using the resource value for `.setLogLevel()`, try just doing: `.setLogLevel(LogLevel.FULL)` directly

That should definitely give you log output.

[2015-07-17 16:47] alvinsee commented on #3
I've attempted the above yesterday, but to no avail.

[2015-07-17 17:24] alvinsee commented on #3
D/SparkCloud﹕ Initializing SparkCloud instance
D/SparkAccessToken﹕ Scheduling token expiration for Thu Oct 15 09:41:00 PDT 2015 (7773582585ms.
D/SoftAPConfigRemover﹕ loadSSIDStringSetWithKey(KEY_SOFT_AP_SSIDS)
D/SoftAPConfigRemover﹕ Loaded saved SSIDS: []
D/SoftAPConfigRemover﹕ Returning SSIDS: []
D/SoftAPConfigRemover﹕ saveSSIDsWithKey() KEY_SOFT_AP_SSIDS, []
D/SoftAPConfigRemover﹕ reenableWifiNe

[2015-07-17 20:34] jensck commented on #3
Strange, I'm still not seeing any logging from OkHttp/Retrofit.

Thanks for posting the logs you have, though -- I'm looking into this now.

[2015-07-17 20:44] jensck commented on #3
OK, looking at the source, it's dying right at the retrofit call, and should be an `IOException`, which suggests maybe it's not even connecting to the cloud.

If you uninstall/reinstall the app you're working on (to clear any stored app data), does calling `SparkCloud.logIn()` work correctly?

[2015-07-17 20:45] alvinsee commented on #3
yes SparkCLoud.logIn() works correctly.

[2015-07-17 20:47] jensck commented on #3
Also, re: logging, are you consuming the Cloud SDK via a gradle dependency or did you pull the source?

If it's the latter, can you try via the gradle dependency?  (i.e.: adding `compile 'io.particle:cloudsdk:0.1.2'` to your build.gradle)  Having Retrofit's logs would be a huge help.

[2015-07-17 20:49] alvinsee commented on #3
I've attempted both. Initially, I had it set up as a gradle dependency, but I ended up pulling the source to change the logging level as per requested earlier.

[2015-07-17 20:55] jensck commented on #3
OK, I'm going to attempt a quick experiment with the logging, to verify from a clean environment that everything works as intended.

[2015-07-17 20:56] alvinsee commented on #3
7-17 13:53:23.374   D/Retrofit﹕ ---> HTTP POST https://api.particle.io/v1/device_claims
07-17 13:53:23.374  D/Retrofit﹕ ---> END HTTP (no body)
07-17 13:53:23.375  D/Retrofit﹕ ---- ERROR https://api.particle.io/v1/device_claims
07-17 13:53:23.377  D/Retrofit﹕ java.lang.IllegalArgumentException: method POST must have a request body.
            at com.squareup.okhttp.Request$Builder.method(Request.

[2015-07-17 21:06] jensck commented on #3
Much better! :)  What version of OkHttp are you using?  Are you specifying one on your own, or just pulling in whatever's coming from Gradle?

[2015-07-17 21:10] alvinsee commented on #3
2.3.0 the same version that is used in spark-cloudsdk

[2015-07-17 21:21] jensck commented on #3
I did a little research and it looks like this is most often caused by using OkHttp 2.4.  (see https://github.com/square/retrofit/issues/854 )  I'm betting something somewhere else in your dep. chain is requesting an upgrade to OkHttp 2.4 (or more likely, is doing an evil wildcard upgrade, asking for `...okhttp:2.+`), giving us a _silent_ upgrade.

Can you check out the output of the Gradle `depen

[2015-07-17 21:26] jensck commented on #3
If this is what's going on, there's a very reasonable workaround (seen here: https://github.com/square/retrofit/issues/854#issuecomment-111522142 ) , but I'll need to push an update to the cloud SDK.  It's a fairly trivial fix, but I can't publish from where I am at the moment.  I could have something out in an hour-ish perhaps?  (I'm not sure what the delay is on JCenter updates, but I don't thin

[2015-07-17 21:31] alvinsee commented on #3
There was indeed a dependency that was using okhttp:2.4.0. Good catch! I'm attempting to connect to a photon unit now.

[2015-07-17 21:33] jensck commented on #3
Awesome. \m/

[2015-07-18 00:12] alvinsee commented on #3
Thanks again @jensck. I do appreciate the time and effort!

[2015-07-18 00:12] #3 closed

[2015-07-18 00:33] jensck commented on #3
@alvinsee Happy to assist.  Thanks for working with me to dig through the problem!

[2015-07-28 17:48] towynlin opened #4 "Failed setup report on new Photon"
From a tech support ticket. User eventually was able to setup using serial on his computer.

Samsung Galaxy S5 running Lollipop

1. Click ready on "Time to set up your Photon!"
2. Select photon in "Choose your Photon"
3. "Connecting to Photon" pops up. 15-20 seconds later it goes away.
4. Try again to select photon in "Choose your Photon"
5. "Connecting to Photon" pops up for 2 seconds-ish and goe

[2015-07-28 23:07] chobberoni commented on #4
I've seen this same issue in some of my tickets.

[2015-07-30 22:58] alvinsee opened #5 "Errors out when paired with a photon."
This didn't happen until today, but I'm getting the following exception:

W/DiscoverDeviceActivity﹕ Setup exception thrown:
    io.particle.android.sdk.devicesetup.setupsteps.SetupStepException: Process died while trying to get the device ID
            at io.particle.android.sdk.devicesetup.ui.DiscoverDeviceActivity$DiscoverProcessWorker.doTheThing(DiscoverDeviceActivity.java:405)
            at

[2015-08-07 00:35] TheSauceMan commented on #4
Hi, I reported this bug.  Is there a way for me to provide additional information so we can get some traction on this?

[2015-08-07 18:26] chobberoni commented on #4
@TheSauceMan feel free to add additional information here in the comments of this PR.

[2015-08-07 19:38] TheSauceMan commented on #4
@chobberoni sure.  I guess my question isn't where do I put the additional information, it is where do I get the information from?

[2015-08-11 14:08] jensck commented on #4
@TheSauceMan here are a few other things which would help:
1. are you being offered a "report" button to report this bug when the app crashes?  If so, hitting that report button helps us a ton.
2. esp if you dont' get that button in item 1, if you could capture device logs leading up to and at the crash, that would help
3. your Wi-Fi AP name, the security type you're using (WPA, WPA2, etc), and if

[2015-08-24 20:08] alvinsee opened #6 "connectToApSpinnerDialog Dismisses Too Early"
DiscoverDeviceActivity.java: onPostExecute(SetupStepException error)

hideProgressDiaglog() may dismiss and return back to DiscoverDeviceActivity. Users may re-tap a Particle device on the WiFi fragment list which is undesirable in the setup process. It would be preferable if the progress dialog always dismisses when DiscoverDeviceActivity is destroyed.

[2015-09-01 23:08] chobberoni commented on #6
@alvinsee I've tested this and yes, this is a real issue. It is sort of a lag during that process and most users will be impatient (with reason) and try to click the button again.. causing errors. I believe @idokleinman is and already has been looking into this issue. What specific version of android are you using?

[2015-09-01 23:11] alvinsee commented on #6
@chobberoni I've tested and replicated the issue on both Android Lollipop and Marshmallow Preview 3.

[2015-09-05 01:01] TheSauceMan commented on #4
Wow, sorry, I missed this.
I think I did get the report option once.
What's the best way to capture the device logs?
You want the brand of AP?  Or you want my SSID?  there's nothing special about my SSID.  It's not hidden, and uses WPA2.  Mind you, I can set the photons up manually.

[2015-09-08 22:16] jensck commented on #4
There's an updated version of the app on the Play store.  Can you give that a spin and see if you can still reproduce this?

Thanks!

[2015-09-08 22:19] jensck commented on #5
Haven't seen that one before...  there's a new version of the SDK and device setup lib out -- can you reproduce this with the updates?

If so, what Android version is this?

[2015-09-09 04:16] TheSauceMan commented on #4
Hi @jensck ,

So I tried it and I have bad news and good news.  The bad news is the behavior didn't really change except that repeated attempts don't result in a crash.  It still tells me the list of Photons in blue flashing mode and when I pick one it just sits there forever.

The good news, however, is that I have a work-around, thanks to another app that I saw that tried to register a small wif

[2015-09-09 06:03] jensck commented on #4
Thanks for the update, that's all very helpful info!  I just discovered a potentially related issue, so hopefully we'll have a proper solution before long.

As for "Smart network switch", that's not a standard feature that I'm aware of.  Is this a Samsung device by any chance?

[2015-09-09 06:05] jensck commented on #6
I'm able to reproduce this -- I'll add this to the bug queue for an upcoming release.

[2015-09-09 06:07] alvinsee commented on #6
@jensck much appreciated!

[2015-09-09 12:16] TheSauceMan commented on #4
It is indeed a Samsung Galaxy S5.
I suspected it may be a Samsung customization and was impressed that the other app had dealt with it so cleanly. Still can't help but wonder if there is a way to avoid toggling the feature, which would make it better still. 
Sauce

[2015-09-09 15:08] jensck commented on #4
Yeah, I'd _really_ like to avoid making the user do it.  Asking users of the Particle app to go to their Wi-Fi settings (even if we can provide a shortcut) would already be lame and tedious, but it'd be an absolute last resort for apps using the SDK that are targeted at the masses.

I'm crossing my fingers that the related network changes I'm working on will solve this, too, since they may stem fr

[2015-09-09 16:29] TheSauceMan commented on #4
Sure thing, if you need a hand, I can help you test.
I'll be out of town next week but may be able to slip a Photon in my suitcase. 
Sauce

[2015-09-15 04:07] sbose78 opened #7 ""Error calling API : Invalid json" Error during device setup"
I was testing out the Android device setup on my Photon when I got the following issue after hitting "Ready". Here are the details to reproduce:

1. Updated app's manifest file.
2.  Called
[code]
in the first activity

3. Got to the screen which said "Time to setup your photon".
4. On tapping the "Ready" button I got the error message on the screen which said "Could not communicate with Photon Clo

[2015-09-24 03:14] jensck commented on #7
What kind of output do you get if you turn on debug logging: https://github.com/spark/spark-sdk-android#logging

[2015-10-01 21:27] dardenhome opened #8 "com.afollestad:material-dialogs:0.7.8.0"
I just pulled the most recent code. I tried building and I get this message:

     Searched in the following locations:
         https://jcenter.bintray.com/com/afollestad/material-dialogs/0.7.8.0/material-dialogs-0.7.8.0.pom
         https://jcenter.bintray.com/com/afollestad/material-dialogs/0.7.8.0/material-dialogs-0.7.8.0.jar
         file:/Users/jdarden/Library/Android/sdk/extras/android/m2re

[2015-10-01 21:31] dardenhome commented on #8
UPDATE: it looks like adding com.afollestad:material-dialogs:0.7.8.1 gets me through the build error.

[2015-10-27 07:09] sbose78 commented on #7
Hi, this worked out fine after subsequent tries, and so couldn't reproduce this at my end.
This could be closed.

[2015-10-27 07:09] #7 closed

[2015-10-27 07:20] sbose78 opened #9 "NPE in LoginActivity (after upgrading to 0.3.0 from 0.2.0...?)"
On calling :
ParticleDeviceSetupLibrary.startDeviceSetup(Activity.this);

Below is the stacktrace :

94): getRunningAppProcesses: caller 10390 does not hold REAL_GET_TASKS; limiting output
E/AndroidRuntime(16937): FATAL EXCEPTION: main
E/AndroidRuntime(16937): Process: com.greenopia.android, PID: 16937
E/AndroidRuntime(16937): java.lang.RuntimeException: Unable to start activity ComponentInfo{com.

[2015-10-27 16:28] jensck commented on #8
The 0.3.0 release addresses this, too.  Thanks for the report!

[2015-10-27 16:28] #8 closed

[2015-10-27 16:28] jensck commented on #5
No updates for over 1 month, closing.

If this is still an issue, please feel free to re-open!

[2015-10-27 16:28] #5 closed

[2015-10-27 16:29] jensck commented on #4
@TheSauceMan the latest Play store release should fix this issue.  Can you confirm?

[2015-10-27 16:31] jensck commented on #9
Updating the title: the permission referenced is from another app, but there is a real bug here in the form of an NPE.

[2015-10-27 16:32] jensck commented on #9
Does the device where you're hitting this have a hardware keyboard by any chance...?

[2015-10-28 16:55] sbose78 commented on #9
No @jensck .
It's an Android device without an external keyboard.

[2015-10-28 21:00] mhespenh opened #10 "DeviceSetupCompleteContract type mismatch on EXTRA_CONFIGURED_DEVICE_ID"
ETA: Version 0.3.0

In ParticleDeviceSetupLibrary.java:72, the intent extra `EXTRA_CONFIGURED_DEVICE_ID` is treated as a Long:

[code]

According to SuccessActivity.java:114 it is added to the intent as a String.

[code]

This causes a Java type-conversion failure and always returns 0 (the default value of `getLongExtra()` thanks to `errorValue`), and hence failure

Easy fix (works fine for me) re

[2015-10-29 00:29] jensck commented on #9
What else can you tell me about this, e.g.:
- device make and model
- version of Android
- is this a custom ROM?
- which software keyboard it's using
- what are the steps to reproduce?  Do those steps work on a fresh install?
- do you have developer options set like destroying activities as soon as you exit them?

[2015-10-29 00:33] jensck commented on #9
Also, none of the code being referred to by that stack trace seems to have changed from 0.2.0 to 0.3.0 -- it seems odd that the upgrade would cause it.  Can you try downgrading and see if you can still reproduce it?

[2015-10-29 01:45] jensck commented on #10
Well, that's embarrassing.  Good catch, I'll post an updated release with a fix for this soon.

[2015-10-29 01:48] mhespenh commented on #10
I should have noted- I'm not sure what `intent.getStringExtra()` will return if claiming failed, so `!deviceId.equals(null)` might not actually be the correct check.

[2015-10-29 01:55] mhespenh commented on #6
Just FYI- still exists on 0.3.0- I'm going to dig into the code tomorrow to see if there I can find a fix in the meantime, I'll report back if I find one.

[2015-10-29 17:41] idokleinman commented on #10
@mhespenh thank you! btw, pull requests are welcome.

[2015-11-10 04:42] jensck commented on #9
Closing this; please feel free to re-open if you are still running into this issue and can provide some of the info above!

[2015-11-10 04:42] #9 closed

[2015-11-10 05:39] #10 closed

[2015-11-18 00:36] chobberoni commented on #6
@jensck any update on this? we have a client who is going into production run of their platform and need this bug fixed

[2015-11-18 05:38] jlkalberer opened #11 "API 23 required?"
I am not really familiar with android but the only way I could get this to build is by using API 23.  My app was using 19 before.

I get this error if I try to build using 19:
    C:\......\build\intermediates\exploded-aar\com.android.support\appcompat-v7\23.1.0\res\values-v23\values-v23.xml
    Error:(2) Error retrieving parent for item: No resource found that matches the given name 'android:Text

[2015-11-18 15:39] jensck commented on #6
@chobberoni I looked at it last night and I believe I found the cause; I'm going to implement and test the fix tonight.

[2015-11-18 16:18] jensck commented on #11
Yes, you'll need to target and compile against API 23.  Your _minimum_ SDK can be as low as 15, though.

Lowering the target SDK isn't on the roadmap, since it's not an easy change(!), and I don't want to make things harder for devs using an up to date, fully native stack, so I'm closing this.

[2015-11-18 16:18] #11 closed

[2015-11-18 20:26] chobberoni commented on #6
thanks @jensck !!! :+1: :smile:

[2015-11-19 07:18] #6 closed

[2015-11-19 23:49] kneuron commented on #6
woo! Thanks, all!

[2015-12-08 06:39] bleathem commented on #4
I have installed the latest play store release (installed today), and my particle app still crashes unless I have the "smart network switch" option disabled.

[2015-12-08 06:47] jensck commented on #4
@bleathem what are your device model number and Android OS version?

Also, is smart network switch enabled by default, or did you turn it on manually?

[2015-12-10 23:43] philipmeier commented on #8
@jensck I am getting this for 'com.afollestad:material-dialogs:0.7.9.1' -- found on the head of the code as of Dec 9th. (a7402b8 == devicesetup:0.3.2)

Apologies for posting on a closed ticket but it seems related. Let me know if you want me to open a new ticket instead.

In the build.gradle I find:
    compile 'com.afollestad:material-dialogs:0.7.9.1'

Does this repository work as-is for other pe

[2015-12-10 23:53] philipmeier commented on #8
I am currently trying:

    compile('com.github.afollestad.material-dialogs:core:0.7.9.1@aar') {
        transitive = true
    }

[2015-12-11 00:05] philipmeier commented on #8
Ultimately the above worked, but I also had to make sure my root build.gradle file had:

allprojects {
    repositories {
        jcenter()
        maven { url "https://jitpack.io" }
    }
}

[2015-12-25 13:34] alisvkr opened #12 "Photon "could not communicate" issue"
I'm trying to setup android SDK of photon to my app in android device. When ready button is pressed, sdk cannot find any photon device. I tried to connect access point of photon manually, this time i get "could not communicate wit Photon cloud. Make sure your Android device is connected to the internet and retry."
Same situation occurs original Particle android app. I am testing sdk and your app i

[2015-12-29 18:52] jensck commented on #12
This is just a DNS resolution error, and is mostly likely caused by a temporary internet connection problem; DNS for `api.spark.io` is resolving fine from my laptop and mobile devices.

It's very unlikely that this has anything to do with the SDK specifically, so I'm going to close this.  That said, if you run into the issue again, and you have more info which might point to an SDK or Particle Clo

[2015-12-29 18:52] #12 closed

[2016-01-06 05:57] jensck opened #13 "Still showing login screen even when a token is being set manually"
see: https://community.particle.io/t/two-legged-authentication-android-sdk/18732

[2016-01-15 19:09] murphyalexandre opened #14 "Randomly cannot disconnect from AP"
Sometimes when using the android app it won't disconnect from the photon's AP and I have to do a lot of resetting, clearing the wifi, even reflashing the firmware for it to work!

However, this is where things get interesting, I have no issue whatsoever with the Particle app from the Play Store. Go figure.

Is there something new in the official app that wasn't put in this example app ?

[2016-01-17 12:27] blackadmin commented on #13
Hi, When can we expect this bug to be fixed, as my company is using this SDK to setup photons and now we are in production. Thank you in advance :).

Regards,
Cloudblocks

[2016-01-19 17:20] jensck commented on #14
Strange!  The app in the store doesn't have any special sauce -- the setup is 100% powered by the publically available SDKs.   The one thing that is different about the app in the store is that it's using a slightly out of date version of the setup lib and SDKs.

Can you try to reproduce using cloud SDK v0.2.2 and device setup v0.3.1 ?  Those are the versions used in the current Play Store release

[2016-01-19 17:24] jensck commented on #13
I'm going to take a stab at fixing this tonight.  If I can't close it tonight, I'll post another update with an ETA.

[2016-01-19 17:24] murphyalexandre commented on #14
You know what, I was using a Samsung Galaxy Note 4 when the bug keep on happening and since then, I switched to my Nexus 6P and the problem is gone.

I've read somewhere in the forums that people were having troubles with Samsung devices so I'm guessing it's an issue specific to those devices and there must have a bug within the wifi driver or something.

Closing this issue for the time being.

[2016-01-19 17:24] #14 closed

[2016-01-25 02:07] jensck commented on #13
(I'm continuing the convo around this at the community thread linked above; watch that thread for updates until the bug is closed.)

[2016-01-25 02:21] jensck commented on #13
@blackadmin calling `ParticleCloud.setAccessToken()` should do it, though some people are obviously running into an issue with this.  Please see the forum post about this; I'm having trouble reproducing this issue and would love any community help in diagnosing just where the trouble is.

[2016-01-30 09:49] blackadmin commented on #13
@jensck ok great, will follow and waiting for fix. :)

[2016-01-30 16:45] jensck commented on #13
@blackadmin as mentioned on the thread, we could really use help reproducing this issue. Can you try the instructions I give at the end of the thread?

[2016-01-30 17:07] blackadmin commented on #13
ok, I will try and let you know.

[2016-01-30 22:00] blackadmin commented on #13
@jensck As you said I did and added below code before button listener

`ParticleCloud particleCloud = ParticleCloud.get(this);
        particleCloud.setAccessToken("ACCESS_TOKEN", new Date(1461456951753L));
        System.out.println("Is loggedIn:" + particleCloud.isLoggedIn());`

And it returned me **`false`**

[2016-02-29 17:59] jensck opened #15 "Get rid of hard coded strings(!)"
A few hard-coded UI strings crept into the code -- convert to XML resources.

[2016-03-06 04:17] javorosas commented on #13
Having the same problem. Any updates on this?

[2016-03-08 18:44] henrik-d opened #16 "Error during device setup"
Hey,

a tester of my app has problems setting up a photon with our app. I got a report showing where the error is occuring.

![bildschirmfoto 2016-03-08 um 19 37 01](https://cloud.githubusercontent.com/assets/6033679/13612073/e484a88e-e565-11e5-85d8-8287b21dbb26.png)

The tester is using a Samsung Galaxy S4 GT-i9515 running Android 5.0.1
Anything I can do about it?

Best,
henrik

[2016-03-08 19:01] jensck commented on #16
Are they using the latest version of the app?

[2016-03-08 19:10] henrik-d commented on #16
I'm using Release 0.3.4
Should I update to 0.3.5?

[2016-03-08 19:12] jensck commented on #16
Yeah, the latest version had a fix for that issue.

[2016-03-08 21:48] henrik-d commented on #16
Great, now it's working. Thanks.

[2016-03-08 21:48] #16 closed

[2016-03-11 06:25] jensck commented on #4
There's been a fix/workaround for this for a while.  Closing.

[2016-03-11 06:25] #4 closed

[2016-03-15 22:50] jensck commented on #13
v0.3.6 of the device setup lib is out, which (finally) fixes this

[2016-03-15 22:50] #13 closed

[2016-03-15 22:51] jensck commented on #15
Fixed by device-setup release 0.3.6

[2016-03-15 22:51] #15 closed

[2016-04-26 19:47] marcio-granzotto-ckl opened #19 "Customization for more than one device"
So I need to provide the setup screen for 3 different devices, with different names and images.

On iOS' SDK I could just
`[SparkSetupCustomization sharedInstance].deviceName = @"First Device";`
and when I wanted to setup another device
`[SparkSetupCustomization sharedInstance].deviceName = @"Another Device";`

however the same seems not possible with the Android SDK. The docs says that we should

[2016-04-26 22:15] jensck commented on #19
You're correct, this isn't currently possible with the Android SDK.  Enabling this would require some non-trivial refactoring.

[2016-04-26 22:39] marcio-granzotto-ckl commented on #19
Ok. As I really need this feature, I will fork the project and try to get this to work. Then I could make a PR with the changes

[2016-04-28 14:35] #19 closed

[2016-07-08 01:05] jensck opened #22 "Add a proguard rules file to the AAR"
See https://github.com/spark/spark-sdk-android/issues/14

[2016-07-08 01:53] jensck opened #23 "Perform audit of the API surface for classes and methods that don't need to be public"

[2016-07-15 00:05] jensck opened #24 "Change login error handling to match iOS setup lib behavior"

[2016-07-15 00:11] jensck commented on #24
See https://github.com/spark/spark-setup-ios/blob/master/Classes/UI/SparkUserLoginViewController.m#L175

[2017-01-26 22:30] idokleinman opened #25 "Ensure device naming screen appears at end of Soft AP process"

[2017-01-26 22:31] idokleinman opened #26 "Tests"
Research if automated acceptance test could be coded against device mock
@m-mcgowan created one

[2017-01-26 22:35] idokleinman opened #27 "Solve soft AP issues with S7 device"
See slack convo here:

https://s.slack.com/archives/mobile/p1484187354000151

[2017-02-01 01:25] jensck commented on #27
The proposed fix for this is on [this pr](https://github.com/spark/spark-setup-android/pull/28)

[2017-02-01 01:32] jensck commented on #25
This was working in the past.  My guess is this will be a fairly easy fix.

[2017-02-01 01:38] jensck commented on #22
I added this after https://github.com/spark/spark-sdk-android/issues/13 , but I don't think the setup lib actually needed any changes, just the cloud sdk lib.

[2017-02-01 01:38] #22 closed

[2017-02-01 01:41] jensck commented on #23
For things that we don't want to make part of the public API surface of the setup lib and SDK, but where we still want to use the `public` modifier for packaging reasons, etc, now there's [`@RestrictTo`](http://tools.android.com/tech-docs/lint-in-studio-2-3#TOC-RestrictTo)

[2017-02-07 21:26] jensck opened #30 "Guarantee connection to soft AP before sending commands"
Likely related to #27

`CommandClient` usage should be refactored a bit to ensure the given soft AP is connected before sending commands.  My suggested approach is to wrap up CommandClient with a decorator which ensures we're connected before every call to `sendCommand()`.

Pseudo-code sketch of the idea:

[code]

Then this `ConnectedCommandClient` would be the thing that is used everywhere in the

[2017-02-16 18:08] yourstartupgirl opened #36 "Problem Setting up Photon on Android - see attached images"
![screenshot1askengineering](https://cloud.githubusercontent.com/assets/19215397/23034066/5afdbc66-f42f-11e6-9fe4-0a0824bff3c4.png)
![screenshot2askengineering](https://cloud.githubusercontent.com/assets/19215397/23034067/5b0d7cbe-f42f-11e6-9f25-9554f61fcbf3.png)
![screenshot3askengineering](https://cloud.githubusercontent.com/assets/19215397/23034068/5b17b2e2-f42f-11e6-8c31-b9632850bcd7.png)

[2017-02-26 20:52] CityVibes commented on #24
@jensck Does this still apply? Major difference I see is that we display error through field not an alert.

[2017-02-28 05:39] jensck commented on #24
@CityVibes no idea.  You'll have to either review the difference manually or (if you don't have an iDevice) get someone to screenshot the process for you.

[2017-02-28 05:40] jensck commented on #24
Or just review the code, if you're confident that's sufficient.  But either way, I can't give a good answer off top if this is still valid.

[2017-03-07 10:34] MicheleAuthometion opened #41 "Issue with spark login when compiling the library with ProGuard enabled in release config"
Hello,

I am developing an Android application which interacts with a Photon board for a prototype project, in several ways that I will not mention here since they are not relevant to the problem I am experiencing.

The point is that the Photon's device ID is required at several stages of this interaction, so I have integrated your "Device Setup Library" inside my app as a locally compiled library

[2017-03-07 15:47] CityVibes commented on #41
Try adding these to your proguard rules file:
[code]

[2017-03-07 16:00] MicheleAuthometion commented on #41
That did the trick. Previously I had this in my proguard rules file:

-dontwarn com.google.common.**
-dontwarn okio.**
-dontwarn retrofit.**

Clearly the retrofit classes were not being kept though, and that was the source of my issue.

Thank you very much for your help Julius! Issue closed.

[2017-03-07 21:08] CityVibes commented on #41
Could you provide more information:
1) Did you test it on multiple devices and Android versions?
2) Do you have logs, onFailure() should be logging an exception.

[2017-03-08 11:18] MicheleAuthometion commented on #41
Sure, here you are:

1. Yes, this behaviour was experienced on 2 different devices with 2 different Android versions (4.2.2 and 5.1) so far, in exactly the same way. Anyway it really seems to be related to ProGuard somehow, as I experience it only with minifyEnabled set to true, and never with minifyEnabled set to false (regardless of other factors like network conditions, etc., which are obviousl

[2017-03-08 13:17] CityVibes commented on #41
I haven't been able to reproduce bug yet. Particle Tinker app has minifyEnabled set to false.
You are using locally compiled library, right? Are you using latest code and did you make any big changes to code? Would it be possible for you to try and use latest library release `compile 'io.particle:devicesetup:0.4.1'`?
Also could you share (if possible) your proguard rules file and locally compiled

[2017-03-08 16:16] MicheleAuthometion commented on #41
Sorry, I have forgotten to mention something quite important. I have made big changes to the original library and the original navigation flow quite a lot, and I even forgot about it - actually I did not remember how the original navigation flow was like, and now that I tried to see what happens compiling the latest version I remembered.

What I have done is basically the following: get rid of the

[2017-03-14 19:01] CityVibes commented on #41
If unmodified versions are working with proguard then there isn't much I can do. You could try to write Proguard rules excluding any code from particle libraries thus minifying your app only.

[2017-03-26 14:30] #41 closed

[2017-04-11 22:34] sismanis commented on #27
Just wanted to check in on if this issue is fixed yet. I have tested on the latest version 0.4.5 and with the latest Particle app in the play store and still can't seem to detect a device on a Galaxy S7 and Android version 6.0.1
![screenshot_20170411-152138](https://cloud.githubusercontent.com/assets/3194830/24933679/605c57ea-1ecc-11e7-8809-a8a1d1614276.png)

[2017-04-13 12:47] CityVibes commented on #27
@sismanis Works fine on my Galaxy S7 6.0.1 (each app and library version is tested on this device). Is it single Photon device that isn't showing up or multiple ones?

[2017-06-12 22:19] kennethlimcp opened #46 "initWithSetupOnly equivalent"
What is the `initWithSetupOnly` equivalent that is available in iOS sdk?

From:

https://community.particle.io/t/initwithsetuponly-equivalent-for-device-library-in-android-sdk/32952

[2017-06-14 04:11] CityVibes commented on #46
@kennethlimcp I think there's no equivalent at the moment, I'll prioritize to either implement and/or document it for upcoming versions.

[2017-06-21 02:48] krazineurons commented on #46
Thanks for doing it in on priority folks!

[2017-08-02 00:00] idokleinman commented on #46
This is done, except for documentation

[2017-08-02 00:00] #46 closed

[2017-08-16 18:06] towynlin opened #48 "NullPointerException clicking cancel"
Current most common crash in Crashlytics is a NullPointerException on this line.
https://github.com/spark/spark-setup-android/blob/7b78f0ab10da765ca7fd1ba445459c9c2ef5c78e/devicesetup/src/main/java/io/particle/android/sdk/devicesetup/ui/ConnectingActivity.java#L130

[2017-08-18 19:48] #48 closed

[2017-08-22 16:35] Komoi opened #51 "Problem with onboarding Photon in some environments"
Hi,

we are developing product based on particle platform and we are using Photon device, which is integrated into our hardware. We have problems with onboarding using Android devices, iOS ones are mostly fine. This onboarding problem happens in approx 80% of tries when in specific environment so it actually succeeds sometimes. This problem happen only on specific wifi networks and can not be repr

[2017-08-22 20:09] CityVibes commented on #51
Hi @Komoi,
Which version of device setup library are you using?

[2017-08-23 13:48] Komoi commented on #51
Hi, I am using version 0.4.3. We have used static copy of library code because we needed to customise UI quite a lot. Logic is basically untouched.

[2017-08-23 18:42] CityVibes commented on #51
@Komoi Well you are using older version, latest setup library version is 0.4.9, although issue is likely still there.
You mentioned "specific environment" and "specific wifi networks", could you tell me more about wifi connections a bit more, do they have anything in common, firewalls, any kind of configuration. Trying to reproduce bug so full logs would be useful as well.

[2017-08-23 19:13] towynlin commented on #51
Also, the "permission denied" part of the error is probably coming from the Particle API, meaning the device may be owned by another user, may not be a part of the requested product, or another similar permission error.

[2017-08-23 20:54] Komoi commented on #51
We have trouble to reproduce the issue consistently even on mentioned specific wifi networks. We are not even sure if this lead is correct. We think that this might be caused because wifi is dualband and phone is connected to 5GHz network before pairing. I am not sure about firewall or other configuration, because I do not have physical access to that network. You can see onboarding logs here (but

[2017-08-24 16:41] Komoi commented on #51
Also, now I experienced problem with unclaiming during the onboarding process. If I try to claim already claimed device with same account it belongs to, it works, because claim is checked by listing devices from you account and checking, if one you are onboarding is there. When I try to do this with another account (one which does not own the device) it fails every time. This is probably different

[2017-08-29 03:27] krazineurons opened #52 "java.io.EOFException: \n in not found inside commandclient.java when working against softap-emulator"
CommandClient.Java line 126 is calling buffer.readUtf8LineStrict, which fails on the response received from the softap-emulator. I don't think there's a need to read the headers from the response as the TCP client doesn't set any headers. Does anyone know why does it read the headers here?

[2017-09-26 21:04] sollematthew opened #54 "ParticleDeviceSetupLibrary.initWithSetupOnly(this.getApplicationContext()) fails to get device ID."
I am attempting to both get a device on a wifi network (which works) and get it's device id returned (which doesn't work). All of the views work correctly visually. However there are some errors thrown in logcat and the `onSetupFailure` method is called instead of `onSetupSuccess`.

My setup code
[code]

What I see in the console:
[code]

And

[code]

And

[code]

and lastly,

[code]

[2017-09-26 22:55] CityVibes commented on #54
A non-authenticated user won't have access to device, which is likely cause of your problems since you are using "setup only".
[code]
Would end up with `onSetupSuccess`.

[2017-11-08 08:52] 759325100 opened #55 "CommandClient sendCommand Error"
code
[code]
Error
[code]
I sure connected photon wlan
Please help me. thanks.

[2017-11-08 09:25] brahma-dev commented on #55
Are you sure it's connected ? MAC Address `02:00:00:00:00:00` usually means a faulty wifi chipset.

[2017-12-08 20:30] #27 closed

[2017-12-08 20:31] #24 closed

[2017-12-08 20:31] #36 closed

[2017-12-08 20:32] #25 closed

[2017-12-08 20:33] #54 closed

[2017-12-28 17:51] Lcstyle opened #57 "adding device setup to example app causes example app project not to build."
reproduction steps:
I am using android studio 3.0.1
I cloned a fresh copy of example app repository.
It builds fine in android studio.
![si-12-44-08-pm_0004](https://user-images.githubusercontent.com/1028272/34418789-de7abc56-ebcd-11e7-85e2-f9a8e022f42f.jpg)

add  compile 'io.particle:devicesetup:0.4.9' to example_app build.gradle

project will no longer compile
![si-12-44-18-pm_0005](https://user

[2017-12-28 17:52] Lcstyle commented on #57
Also, I am adding device setup to my actual android app project, and it also produces similar results.

[2017-12-28 18:07] Lcstyle commented on #57
welp.

here's the solution folks:

![2017-12-28_13-06-45](https://user-images.githubusercontent.com/1028272/34419107-00189ed0-ebd0-11e7-8fd1-ed9f6e353c43.jpg)

https://stackoverflow.com/a/46112663

[2017-12-28 18:09] Lcstyle commented on #57
I resolved the secondary issue, the main issue is still a problem:
![si-12-44-18-pm_0005](https://user-images.githubusercontent.com/1028272/34418785-d5d92af6-ebcd-11e7-99b9-ee79bba19600.jpg)

[2017-12-28 18:16] Lcstyle commented on #57
OK Issue resolved as well.

I removed

and added

to my example app build.gradle file.

That resolved the first issue.

Any ideas on why this might be happening?

[2017-12-29 17:08] CityVibes commented on #57
@Lcstyle First issue happens most likely because  `compile 'io.particle:devicesetup:0.4.9'` already provides `compile 'io.particle:cloudsdk:0.4.8'` thus compiler being unable to solve duplicates from local `compile project(':cloudsdk')` and published library `compile 'io.particle:cloudsdk:0.4.8'
`.

Another issue - with official android studio 3.0 support for Java 8 target 1.8 is now a requirement

[2018-02-07 13:29] ppuvanasingam opened #59 "Refactor icon color tinting to resources"
Hello There,

We have been trying to get our Android app to production, but running into minor issues.

We are using a customized ANDROID device setup library. We were able to change the background from Blue to White by using the customization options/styles. However, we are running into a problem with the icons (such as the wifi, lock, and checkmark) being tinted white and hidden due to the backg

[2018-02-07 21:28] CityVibes commented on #59
Hi @ppuvanasingam I'll prioritize this issue for next release, might take few weeks.
Is there a problem with checkmarks being tinted to element_text_color, it is customizable.

[2018-02-07 22:56] ppuvanasingam commented on #59
element_text_color is also used for the Buttons so we would like that to be customizable as well, preferably the same color ID as the others since it makes more sense. Thank you.

[2018-02-28 22:20] #57 closed

[2018-02-28 22:31] CityVibes commented on #59
Adding "element_tint_color" to customization.xml, use [setup library 0.5.2](https://github.com/particle-iot/spark-setup-android/releases/tag/v0.5.2).

[2018-02-28 22:31] #59 closed

[2018-03-29 14:32] AbigailMcP opened #61 "React Native integration issue"
I’m having some trouble integrating the Android SDK with my React Native app.

I’m able to inject an access token using the Cloud SDK and then register a device using the Device Setup Library. However, once setup has finished, I can’t seem to hand back control to RN / return to the “main activity”.

In MainApplication.java I’m initialising the setup library:

[code]

Then in my native module I cal

[2018-03-30 06:44] CityVibes commented on #61
Looking into it right now.

[2018-03-31 05:08] CityVibes commented on #61
@AbigailMcP after setup finished, what happens, does it go somewhere, stuck on the last setup screen?

[2018-04-02 23:16] 7200rpm opened #62 "DexArchiveBuilderException when building"
Getting an issue when building with the latest 0.5.2 related to dex and "invoke-customs". I have "multiDexEnabled" as true in my defaultconfig. Switching back to 0.4.9 builds with no issues. Not sure if this is a bug or something else in my config. Would appreciate any help!

<img width="696" alt="devicesetupissue" src="https://user-images.githubusercontent.com/9924154/38220758-e1f78a5e-3690-11e8-

[2018-04-05 09:13] AbigailMcP commented on #61
Hi @CityVibes - thanks for looking into this.

It doesn't get stuck on the last setup screen, it tries to return to the MainActivity. These are the logs:

[code]

The error I see in my app is:

![screenshot_20180405-100353](https://user-images.githubusercontent.com/18436946/38357049-6d7eee9e-38b9-11e8-8bd8-0716a917826e.png)

Is Particle Device Setup replacing the MainActivity of my app in its enti

[2018-04-06 13:35] CityVibes commented on #62
@7200rpm Do you target Java8 or 7? Code below should exist in your build.gradle
[code]

[2018-04-08 15:27] CityVibes commented on #61
@AbigailMcP Unable to reproduce, yet. I'll keep on trying if there's any more info you can provide it would be helpful.
Made an example of running setup in React Native app (Android only) - seems to work fine, check if there's something to borrow from it.

[2018-04-09 12:51] AntonPuko commented on #61
@AbigailMcP We had that issue before and finally decide just use js version of particle lib.
@CityVibes You probably can't reproduce because in your example you don't have any `stateful` react-native app. When we return from device setup flow it recreates the activity and drop all the current react-native app state.

[2018-04-10 08:51] AbigailMcP commented on #61
Thanks @AntonPuko - I think that's part of the issue. Were you able to kick off the actual device set up wizard with the JS library? Do you have any pointers?

[2018-04-10 11:04] AntonPuko commented on #61
We needed only wifi-setup, so I implemented the setup screens by myself. The hardest thing was to make crypto stuff working in react-native.
I do crypto with node-rsa, so here is part of rn-cli config to make it works:
https://github.com/Brewskey/Brewskey.App/blob/v2/react-native-start-with-link.js#L56-L66
crypto service:
https://github.com/Brewskey/Brewskey.App/blob/v2/src/SoftApService.js

The s

[2018-04-10 11:25] AbigailMcP commented on #61
Thanks @AntonPuko!  🎉 This is really useful - it's given us a load of ideas to go off :)

I do feel like this is still a bug in the library though, due to the recreation of the activity and dropping of state.

[2018-04-10 11:31] AntonPuko commented on #61
yeah, agree...Or It can be some flag for main activity in android manifest that change the current behaviour...something like `android:launchMode="singleTop"` ...I just don't know android development at all, so couldn't figure that by myself and all that `android activity` stuff makes my head sick :)))

[2018-04-13 16:06] 7200rpm commented on #62
That seemed to fix it! Given that this isn't the default setup, might be worth mentioning.

[2018-04-13 16:06] #62 closed

[2018-04-20 12:44] jalada commented on #61
@AntonPuko out of interest is there a reason you used the HTTP SoftAP API instead of the TCP one? Wondering if the TCP one is a little more reliable...

[2018-04-20 15:13] AntonPuko commented on #61
Hi, @jalada. Nothing special, just didn't think about TCP way, since it probably needs one more 3rd party lib like `react-native-tcp`, I guess? If you go that way and find any benefits, let me know, please.

[2018-06-07 10:42] antoniovazquezblanco opened #64 "Unable to configure WiFi credentials in P1 devices"
I have found dificulties configuring WiFi credentials in multiple P1 devices. After ensuring the device is flashing blue, I open the app and click on the device I want to configure but a dialog with an error message appears advicing to reset my device.

After loading the app in android studio we have found that an exception is raised in:
https://github.com/particle-iot/spark-setup-android/blob/6b3

[2018-06-07 14:05] jensck commented on #64
Do you have this same issue with a Photon?

[2018-06-07 15:22] antoniovazquezblanco commented on #64
I have not tested this with a Photon device. I will have to look if I have one device available and will get back with more information.

Currently v0.6.0. We are working on updating our application to use v0.8 but will not be ready for a while. Anyways, seems related to the phone App rather than the device fw given that following the Wireshark captures the response was correctly sent and the sock

[2018-06-07 15:23] antoniovazquezblanco commented on #64
More info. We are able to configure WiFi credentials with a One Plus X with Android 6.0.

It seems we can perform tests with a Photon device. I will get back when we have the results.

[2018-06-07 16:41] jensck commented on #64
I've got a Pixel 2 XL that's running 8.1.0, which should be the same build as your 6P. I'll try to repo this with a Photon today.

[2018-06-08 12:56] antoniovazquezblanco commented on #64
We have tested a Photon device with the Nexus 6P and we were able to configure it but from what I've seen it seems more related to the phone side. How should we proceed to triage this?

Thanks

[2018-06-08 21:39] jensck commented on #64
Given all that you've described, I think the next thing to try is to adjust the timeout value here:
https://github.com/particle-iot/spark-setup-android/blob/6b3ca1696cee46d554338ecccec5e09b6403901d/devicesetup/src/main/java/io/particle/android/sdk/devicesetup/commands/CommandClient.java#L23

Are you comfortable making your own build of the device setup lib to try this?

[2018-06-11 19:37] jensck commented on #52
`CommandClient` needs to at least _detect_ the headers so it can find and parse the response correctly, because actual Photon hardware _does_ send them.

I'll try to get around to this.  Otherwise, I'd happily accept a patch which gracefully handles both the no headers & with headers cases!

[2018-06-11 19:38] jensck commented on #55
@759325100 are you still seeing this problem?

[2018-06-13 13:39] Tresmele commented on #64
We have increased the timeout value to 30 seconds and the phone was able to configure the P1 correctly.
By increasing the timeout the phone keeps retrying to connect to the P1 until eventually it succeeds, but we have seen the response in wireshark and in android studio, so what is exactly the problem?. Can we consider this solution robust?

[2018-06-13 22:50] jensck commented on #64
To clarify: when you say you saw the response in Android Studio, do you mean that you were able to confirm that the bytes were received on phone's socket connection to the P1, but they weren't always being read by `CommandClient`?

[2018-06-15 10:12] Tresmele commented on #64
Yes, when the app reaches the line:
https://github.com/particle-iot/spark-setup-android/blob/6b3ca1696cee46d554338ecccec5e09b6403901d/devicesetup/src/main/java/io/particle/android/sdk/devicesetup/commands/CommandClient.java#L111
The debugger shows the device_id correctly inside the buffer, but once that line is executed the exception "Software caused connection abort" is triggered.

[2018-06-15 15:15] jensck commented on #64
Thanks for the detailed feedback!  We'll find some time to look into this further.

[2018-07-12 19:17] jensck commented on #64
Sorry for the delay on this.  We tested this using a Nexus 6P and a Photon RedBoard, which is P1-based.

Quoting our tester:
_"tested on nexus 6p. Results -> Setup on both Tinker & Setup library/example worked fine. Nexus 6P was on 8.1 while redboard was on 0.6.0."_

Is it possible that this problem is something device or environment specific?

[2018-07-16 08:32] antoniovazquezblanco commented on #64
The issue was partially solved by increasing the timeout in the configuration app. We can keep things working as is and we will soon be migrating to 0.8.x fw.

For the time being we will consider the issue solved and if we find any difficulties after the update we will get back into this.

Thank you!

[2018-07-16 08:32] #64 closed

[2018-10-04 14:45] rduriancik opened #66 "`Could not find Network for SSID` on Android P"
Hi, we have some issues to claim P1 chips on smartphones running Android P. The process fails during the connecting to the chip in the DiscoverDeviceActivity. From logs I was able to pinpoint where is it failing. Seems like the `getNetworkForSSID(SSID ssid)` method in WifiFacade is returning `null` and therefore the `bindSocketToSoftAp(Socket socket)` in NetworkBindingSocketFactory throws `SocketB

[2018-10-04 15:16] jensck commented on #66
Your timing is perfect: I believe I've fixed this and I'll be releasing an update to the device setup lib shortly.

Thanks for the awesomely detailed report!  I'll close this bug when the release is out.

[2018-10-16 20:15] jensck commented on #66
Thanks for your patience waiting for the release.  An update with the fix has been pushed as version `0.6.1`.

[2018-10-16 20:15] #66 closed

[2018-10-17 10:01] rduriancik commented on #66
Thank you very much. :ok_hand:

[2018-11-02 20:14] ghostship opened #67 "Failing to bind Socket connection"
Updated device setup from 0.4.6 -> 0.6.1
Now getting an error during during device discovery.

Seems to be Samsung device specific. Tested on multiple API levels and can't bind to socket.
Seems to work on the nexus devices tested (APIs 21-28)

Connect to device -> choose soft AP -> throws:

[code]

Problem seems to be coming from the NetworkBindingSocketFactory?

[2018-11-27 22:37] jensck commented on #67
v0.6.2 of the device setup library has been released, which contains the fix for this

[2018-11-27 22:37] #67 closed

[2018-11-28 15:57] bloukingfisher opened #68 "On setup choosing WiFi and going back, need to disconnect from Photon Soft AP"
Issue: When user changes mind about WiFi network, the phone remains connected to Soft AP and fails when selecting "Ready". (Not tested, but leaving the app they may still remain connected to Soft AP thus failing any other internet connection they are expecting to have if setup was abandoned.)

To reproduce issue: Setup > "Ready" > Select Photon Soft AP > See list of WiFi networks...user changes mi

[2019-01-29 06:36] brahma-dev opened #69 "SDK attempts to set claim code on unclaimed devices in `setupOnly` mode"
This seems to be the offending code.
https://github.com/particle-iot/spark-setup-android/blob/master/devicesetup/src/main/java/io/particle/android/sdk/devicesetup/ui/DiscoverProcessWorker.java#L84

When `c=0` it attempts to set `null` as claim code which crashes the app ([here](https://github.com/particle-iot/spark-setup-android/blob/ea1d25b33125416a2fc3d7e8e13bf84d3be133ab/devicesetup/src/main/ja

[2019-01-29 07:47] jensck commented on #69
Thanks for the heads up! I'll look at this sometime this week.

[2019-02-11 23:16] #69 closed, assigned to nobody

[2019-02-14 12:26] jensck commented on #68
Moved here: https://github.com/particle-iot/particle-android/issues/56

[2019-02-14 12:26] #68 closed

[2019-02-14 12:27] jensck commented on #61
Moved to: https://github.com/particle-iot/particle-android/issues/57

[2019-02-14 12:27] #61 closed

[2019-02-14 12:29] jensck commented on #55
No response, closing.

[2019-02-14 12:29] #55 closed

[2019-02-14 12:30] jensck commented on #52
Moved: https://github.com/particle-iot/particle-android/issues/59

[2019-02-14 12:30] #52 closed

[2019-02-14 12:31] jensck commented on #51
Moved: https://github.com/particle-iot/particle-android/issues/60

[2019-02-14 12:31] #51 closed

[2019-02-14 12:33] jensck commented on #30
Moved: https://github.com/particle-iot/particle-android/issues/61

[2019-02-14 12:33] #30 closed

[2019-02-14 12:33] #26 closed

[2019-02-14 12:35] jensck commented on #23
Moved: https://github.com/particle-iot/particle-android/issues/62

[2019-02-14 12:35] #23 closed